$tablet: "max-width:991px";
$mobile: "max-width:768px";

@media ($tablet) {
  .showcase {
    height: 70vh;
    &-top {
      img {
        top: 30%;
        left: 5%;
        transform: translate(0);
      }
    }
    &-content {
      h1 {
        font-size: 3.7rem;
        line-height: 1;
      }
      p {
        font-size: 1.5rem;
      }
    }
  }

  .hide-sm {
    display: none;
  }

  .btn-xl {
    font-size: 1.5rem;
    padding: 1.4rem 2rem;
  }

  .text {
    &-xl {
      font-size: 1.5rem;
    }
    &-lg {
      font-size: 1.3rem;
    }
    &-md {
      font-size: 1rem;
    }
  }

  .footer {
    .footer-cols {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media ($mobile) {
  .showcase::after {
    box-shadow: inset 80px 100px 250px #000000, inset -80px -100px 250px #000000;
  }
  #tab-1-content .tab-1-content-inner {
    grid-template-columns: 1fr;
    text-align: center;
  }
  #tab-2-content .tab-2-content-top {
    display: block;
    text-align: center;
  }
  #tab-2-content .tab-2-content-bottom {
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: center;
  }
}
