.tabs {
  background: $primary-dark;
  padding-top: 1rem;
  border-bottom: 3px solid #3d3d3d;
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    > div {
      padding: 1.5rem 0;
      &:hover {
        color: #fff;
        cursor: pointer;
      }
    }
  }
  p {
    font-size: 1.2rem;
    padding-top: 0.5rem;
  }
}

.tab-border {
  border-bottom: 4px solid $primary-color;
}
.tab-content {
  padding: 3rem 0;
  background: #000;
  color: #fff;
}
#tab-1-content {
  .tab-1-content-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }
}
.tab-2-content {
  &-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  &-bottom {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.table {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;
  border-spacing: 0;
  thead th {
    text-transform: uppercase;
    padding: 0.8rem;
  }
  tbody {
    td {
      color: #999;
      padding: 0.8rem 1.2rem;
      text-align: center;
      &:first-child {
        text-align: left;
      }
    }
    tr:nth-of-type(odd) {
      background: #222;
    }
  }
}
#tab {
  &-1-content,
  &-2-content,
  &-3-content {
    display: none;
  }
}
.show {
  display: block !important;
}
